# Platform Config
FLASK_APP=web/app.py
FLASK_ENV=development
DOMAIN_NAME=docket.pub

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/docket_db

# Namecheap API
NAMECHEAP_API_USER=your_username
NAMECHEAP_API_KEY=your_api_key

# Security
SECRET_KEY=generate-a-secure-key-here
